#cloud-config
user: ansible
chpasswd: { expire: False }
lock_passwd: True
ssh_pwauth: False
ssh_authorized_keys:
  - "{{ lookup('file', ssh_pubkey_file) }}"

users:
  - default
    lock_passwd: true

bootcmd:
 - [ sh, -c, echo "=========bootcmd=========" ]

runcmd:
 - [ sh, -c, echo "=========runcmd=========" ]
